/* Customization for app title */
header{
    font-family: 'Times New Roman',Times,serif;
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 700px;
    height: 80px;
    background-color: lightblue;
}